# stock_insight_project/.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虛擬環境
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系統文件
.DS_Store
Thumbs.db

# 日誌
*.log

# 本地配置文件
.env
.env.local

#需要忽略的資料夾
app/backend/docs/
app/backend/tests/
crawler_anue/
crawler_module/
data_process/
financial_report_crawler/
lambda_function/
lambda_layer/
tests/
設計圖/

#需要忽略的文件
需求.txt
database_schema.sql
.cursorignore
.gitignore